.AskQuestion {

  padding: 120px 165px 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .section_line {
    margin: 59px 0 60px;
  }
  &__header {
      margin-bottom: 1.875rem;
    }
  &__text {
    margin-top: 1.25rem;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;}
  &__description {
      margin: 0;
      font-size: 1.125rem;
      line-height: 1.75rem;
      font-weight: 400;
      color: #adb3bf;
    }


  .AskQuestion_content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 510px;
  }
  .question_box {
    width: 740px;
    padding: 20px 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid transparent;
    border-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.1)
      )
      1;
    background: none;
    border-radius: 4px;
    cursor: pointer;

    .question_box_item {
      height: 38px;
    }
    .question_box_item h5 {
      font-size: 24px;
      line-height: 36px;
      font-weight: 600;
      color: white;
      margin: 0;
      margin-top: -0.5px;
      margin-left: -0.1px;
      position: relative;
    }
    .question_box_item p {
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
      color: #adb3bf;
      margin: 0;
      position: relative;
    }

    .question_box_item h5::after {
      content: url(../img/plusicon.svg);
      position: absolute;
      top: 6.5px;
      left: 716px;
      font-size: 20px;
      transition: 0.3s ease;
    }

    &.active .question_box_item h5::after {
      content: url(../img/crossicon.svg);
      top: -0.5px;
    }

    .question_box_answer {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease;

      p {
        font-size: 18px;
        line-height: 28px;
        color: #adb3bf;
        font-weight: 400;
        margin: 0;
      }
    }

    &.active .question_box_answer {
      padding-top: 17px;
      padding-bottom: 1px;
    }
    &.active {
      padding-bottom: 18px;
      margin-bottom: 30px;
      background-color: rgba($color: #000000, $alpha: 0.1);
      transition: background-color 0.3s ease-in-out;
      transform: scale(1.01);
      box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.2) inset;
    }

  }
  .right_Question {
    .question_box {
      width: 742px;
      padding-left: 18px;
    }
  }
  .question_box:hover{
    background-color: rgba($color: #000000, $alpha: 0.2);
        transition: background-color 0.3s ease-in-out;
        transform: scale(1.01);
        box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.2);
  }
}
